<p>lista works!</p>
<ul>
    <li *ngFor="let task of _tasks()" >
        
        <span *ngIf="!task.editando"> {{task.name}}</span>
        <input *ngIf="task.editando" type="text" [(ngModel)]="task.name">
        <button *ngIf="task.editando" (click)="saveTask(task.id, task.name)">Guardar cambios</button>
        <button *ngIf="!task.editando" (click)="updateTask(task.id, task.name)">Actualizar</button>
        <button *ngIf="!task.editando" (click)="deleteTask(task.id)">Elimianr</button>
    </li>
</ul>